@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import '/src/pages/mainPage/mainPage.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  @apply px-16pxr pb-82pxr pt-50pxr;
}

.section-padding {
  @apply px-8pxr pb-16pxr tablet:px-40pxr tablet:py-28pxr desktop:px-70pxr desktop:py-36pxr;
}

.footer-section {
  @apply flex items-center gap-8pxr text-12pxr;
}

.whitespace-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-taing-3 {
  color: #6b6b6b;
  white-space: nowrap;
}
