<div class="footer">
  <section
    id="footer-section"
    class="footer-section text-12pxr desktop:text-21pxr"
  >
    <h2 class="text-taing-3">공지사항</h2>
    <div class="notification-swiper overflow-hidden">
      <ul class="swiper-wrapper text-white">
        <li class="swiper-slide whitespace-nowrap">
          <a href="#">[안내] 합병보고 주주총회에 갈음하는 공고</a>
        </li>
        <li class="swiper-slide whitespace-nowrap">
          <a href="#">[안내] 넷플릭스 보는 거 걸리면 월급 압수</a>
        </li>
        <li class="swiper-slide whitespace-nowrap">
          <a href="#"
            >[안내] 이미 한 명 걸려서 해당 사원은 이번 달 무급입니다</a
          >
        </li>
      </ul>
    </div>
  </section>
  <div
    class="my-12pxr h-2pxr w-full bg-[#212121] tablet:my-26pxr desktop:my-27pxr"
  ></div>
  <div class="footer-util-content text-12pxr desktop:text-21pxr">
    <ul
      class="util-type mb-16pxr flex list-none flex-col font-normal leading-loose text-gray-300 tablet:mb-12pxr tablet:flex-row tablet:gap-20pxr tablet:font-semibold desktop:mb-24pxr desktop:flex-row desktop:gap-36pxr desktop:font-semibold"
    >
      <li><a href="/" class="hover:text-white">고객센터</a></li>
      <li><a href="/" class="hover:text-white">이용약관</a></li>
      <li><a href="/" class="hover:text-white">개인정보처리방침</a></li>
      <li><a href="/" class="hover:text-white">청소년 보호정책</a></li>
      <li><a href="/" class="hover:text-white">법적고지</a></li>
      <li><a href="/" class="hover:text-white">이벤트</a></li>
      <li><a href="/" class="hover:text-white">인재채용</a></li>
    </ul>
  </div>

  <div
    class="footer-content hidden text-12pxr leading-[1.6] text-taing-3 tablet:mb-12pxr tablet:flex tablet:flex-col desktop:mb-24pxr desktop:flex desktop:flex-col desktop:text-21pxr"
  >
    <p>
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
        >대표이사 : YANG JIEUL</span
      >
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
      >
        <a href="" class="underline">사업자 정보 확인</a>
      </span>
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
        >사업자등록번호 : 188-88-01893</span
      >
      <span>통신판매신고번호 : 2020-서울마포-3641호</span>
    </p>
    <address class="not-italic">
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
        >사업장:서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동)</span
      >
      <span>호스팅사업자 : 씨제이올리브네트웍스(주)</span>
    </address>

    <p>
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
      >
        <a href="" class="underline">고객문의 바로가기</a>
      </span>
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
      >
        <a href="" class="underline">대표메일:tiving@cj.net</a>
      </span>
      <span>
        <a href="" class="underline"
          >고객센터 :1670-1525(평일/주말 09시~18시, 공휴일 휴무)</a
        >
      </span>
    </p>
    <p>
      <span
        class="after:text-[#2B2B2B] after:content-['|'] after:tablet:mx-6pxr after:desktop:mx-12pxr"
        >ENM 시청자 상담실 (편성 및 시청자의견) : 080-080-0780</span
      >
      <span>Mnet 고객센터(반송편성문의) : 1855-1631</span>
    </p>
  </div>

  <div class="footer-sns-content mb-16pxr tablet:mb-12pxr desktop:mb-24pxr">
    <ul class="sns-type flex list-none gap-2">
      <li>
        <a href="/">
          <img
            class="h-24pxr w-24pxr tablet:h-30pxr tablet:w-30pxr desktop:h-52pxr desktop:w-52pxr"
            src="/public/assets/landingPage/footer/youtube.svg"
            alt="유튜브"
          />
        </a>
      </li>
      <li>
        <a href="/"
          ><img
            class="h-24pxr w-24pxr tablet:h-30pxr tablet:w-30pxr desktop:h-52pxr desktop:w-52pxr"
            src="/public/assets/landingPage/footer/instragram.svg"
            alt="인스타그램"
        /></a>
      </li>
      <li>
        <a href="/"
          ><img
            class="h-24pxr w-24pxr tablet:h-30pxr tablet:w-30pxr desktop:h-52pxr desktop:w-52pxr"
            src="/public/assets/landingPage/footer/twitter.svg"
            alt="트위터"
        /></a>
      </li>
      <li>
        <a href="/"
          ><img
            class="h-24pxr w-24pxr tablet:h-30pxr tablet:w-30pxr desktop:h-52pxr desktop:w-52pxr"
            src="/public/assets/landingPage/footer/facebook.svg"
            alt="페이스북"
        /></a>
      </li>
    </ul>
  </div>
  <p class="copyright text-taing-3">
    Copyright © 주식회사 티빙 All right reserved.
  </p>
</div>
