<div
  id="header-wrapper"
  class="relative flex h-38pxr w-full items-center justify-between px-12pxr tablet:h-56pxr tablet:px-40pxr desktop:h-100pxr desktop:px-70pxr"
>
  <a href="" class="logo me-28pxr desktop:me-52pxr">
    <h1 class="logo">
      <picture>
        <source srcset="/logo_desktop.svg" media="(min-width: 1280px)" />
        <source srcset="/logo_tablet.svg" media="(min-width: 768px)" />
        <img src="/logo_mobile.svg" alt="TAING logo" />
      </picture>
    </h1>
  </a>
  <div id="profile"></div>
</div>
